<div class="container">
    <mat-card class="login-card">
      <mat-card-header class="card-header">
        <mat-card-title>Inicio de sesión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginFormGroup" class="login-form">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Nombre de usuario o Email</mat-label>
            <input matInput placeholder="Ingrese su nombre de usuario o email" formControlName="username" name="username" required />
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <p *ngIf="loginError" class="error-message">Email o password incorrectos</p>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Ingrese su password" formControlName="password" name="password" required />
            <mat-icon matSuffix>password</mat-icon>
            <mat-hint>Minimo 4 caracteres</mat-hint>
          </mat-form-field>
          <a routerLink="/auth/forgot" class="forgot-password-link">Olvidé mi password</a>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button class="w100" mat-raised-button color="primary" type="submit" (click)="logIn()" [disabled]="!loginFormGroup.valid">Iniciar sesión</button>
      </mat-card-actions>
      <div class="signup-container">
        <span class="signup-link">¿No tienes cuenta? <a routerLink="/auth/signup">Registrarse</a></span>
      </div>
    </mat-card>
  </div>