.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.success-icon {
    font-size: 30px;
    color: green;
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 600px;
    width: 400px;
} 