<div class="container">
    <mat-card class="card">
      <mat-card-title><p>Pagina no encontrada</p></mat-card-title>
      <mat-card-content>
        <h1>404</h1>
        <p>Oops! Página no encontrada.</p>
        <p>Lo sentimos, la página que estás buscando podría no existir o haber sido eliminada.</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <a class="w100" mat-raised-button color="primary"[routerLink]="['/home']">Volver al inicio</a>
      </mat-card-actions>
    </mat-card>
  </div>